 <div class="content_wrapper">
	 <form action="contact.erb" method="POST">
	Name:<br>
		<input type="text" name="postin_name" value="name">
	<br>
	Comment:<br>
		<input type="text" name="comment" value="What's on your mind?">
	<br><br>
	<input type="submit" value="Submit">
	</form> 
</div>