<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"><title>Basic Sinatra Assigment</title>
	</head>

	<body>
		<ul id="nav">
			<li><a href="home.erb">home</a></li>
			<li><a href="gallery.erb">gallery</a></li>
			<li><a href="contact.erb">contact</a></li>
		</ul>
		<%= yield %>
	</body>
</html>