body {
	background-color: #CDCFD4;
	margin: 0px;
}

#nav {
	background-color: #C9C4B5;
	border-right: 8px solid #DFF2F2;
	height: 900px;
	width: 20%;
	padding-top: 25%;
	margin: 0px;
	float: left;
	font-size: 3em;
	font-family: sans-serif;
}

#nav ul {
	list-style: none
}

.content_wrapper {
	float: left;
	margin: 60px;

}